doctype html
head
  title React Boilerplate
  link(
    href="https://fonts.googleapis.com/css?family=Cabin|Questrial|Roboto" 
    rel="stylesheet"
    )
body
  #root
  script(
    src="http://localhost:1592/manifest.js"
    )
  script(
    src="http://localhost:1592/commons.js"
    )
  script(
    src="http://localhost:1592/app.js"
    )
